### requirements for acme package installation ###
dm_haiku==0.0.9
jax==0.4.3 
jaxlib==0.4.3
dm-reverb[tensorflow]==0.13.0
tensorflow==2.15.0

tensorflow_datasets==4.6.0
pillow
numpy
dm-tree
atari-py
dm-control
gym==0.25.0
bsuite
optax
dm-launchpad==0.5.2
rlds
flax
dm-haiku
dm_haiku==0.0.9
chex
dm-sonnet
gym[atari]
trfl
pygame==2.1.0
dm-env
typing-extensions
absl-py
rlax
tensorflow_probability==0.15.0
